<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a href="#" id="dashboards">All Products</a>

        </div>
       <!-- <div class="item">
            <a href="#" id="dashboards">Groceries</a>
        </div>
        <div class="item">
            <a href="#" id="dashboards">Fruits and Vegitables</a>
        </div>
        <div class="item">
            <a href="#" id="dashboards">Munchies</a>
        </div>-->
    </div>
</div>

<!--<div>
    <li *ngFor="let item of productList">{{item.name}}|{{item.price}}</li>
</div>-->

<div class="container">
    <div class="row">
       <!-- <div class="card col-md-3"> -->
            
            <ng-container *ngFor="let item of productList|filter :searchtext:'name'">
                <div class="card">
                <div class="card-img-top" >
                        <img src="{{item.pic}}" alt="pic na"/>
                    </div>
                        <div class="card-body">
                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Price: </strong>Rs {{item.price}}</p>
                        
                        <button class="btn btn-primary btn-sm" (click)="addToCart(item)">Add To Cart</button>
                    </div>
                    
                </div>
    
            </ng-container>

       <!-- </div> -->
        
        
    </div>
</div>
